# Created by https://www.toptal.com/developers/gitignore/api/firebase
# Edit at https://www.toptal.com/developers/gitignore?templates=firebase

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc
**/.eslintrc.js
**/firebase-debug.log

### Lint ###
functions/.eslintrc.json

### Firebase Patch ###
.runtimeconfig.json
.firebase/

firebase.json
ui-debug.log
# End of https://www.toptal.com/developers/gitignore/api/firebase
